@font-face {
    font-family: brico;
    src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: "changa";
    src: url("../fonts/Changa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "boli";
    src: url("../fonts/mv-boli.ttf");
}

@font-face {
    font-family: "oxanium";
    src: url("../fonts/Oxanium-VariableFont_wght.ttf");
}