table  {
    border: 1px solid, white;
    text-align: center;
    vertical-align: middle;
}

tr  {
    height: 60px;
    border-bottom: 1px solid white;
}

th:nth-child(1)  {
    width: 240px;
}

th:nth-child(2), th:nth-child(3)  {
    width: 60px;
}
th:nth-child(2){
    border-left: 3px solid white;
}
th:nth-child(3){
   border-left: 1px solid white;
}

tr>td  {
    border-right: 1px solid white;
}



