* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 100vw;
}

div {
  width: 50%;
}
.nav1,
.nav2 {
  background-color: blue;
  width: 120px;
  height: 120px;
}

.nav1 {
  position: fixed;
  top: 0px;
}
.nav2 {
  position: sticky;
  top: 0px;
}
